<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text = "'Welcome to TWAirline'"/>
<form action="#" th:action="@{/searchFlight}" th:object="${searchObj}" method="post">
    <div class="col-lg-3">
        <p><b>From: </b></p>
        <select class="form-control" id="source" name="source" th:field="*{source}" >
            <option value="">Select To City</option>
            <option th:each="city : ${Sources}"
                th:value="${city}"
                th:text="${city}"></option>
        </select>
    </div>
    <div class="col-lg-3">
        <p><b>To: </b></p>

        <select class="form-control" id="destination" name="destination" th:field="*{destination}">
            <option value="">Select From City</option>
            <option th:each="city : ${Destinations}"
                th:value="${city}"
                th:text="${city}">
            </option>
        </select>
    </div>
    <input type="submit" />
</form>

</body>
</html>