<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text = "'Welcome to TWAirline'"/>
<h1>Search Results</h1>
<div>
    <table border="1" style="float:left">
    <tr>
        <th>FlightID</th>
        <th>CarrierType</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Departure Date</th>

    </tr>
    <tr th:each="flightInfo:${flights}">
        <td th:text="${flightInfo.getFlightID()}"></td>
        <td th:text="${flightInfo.getTypeOfCarrier()}"></td>
        <td th:text="${flightInfo.getSource()}"></td>
        <td th:text="${flightInfo.getDestination()}"></td>
        <td th:text="${flightInfo.getDepartureDate()}"></td>
    </tr>
    </table>
    <table border="1" style="float:left">
      <th>Cost(INR)</th>
       <tr th:each="price:${prices}">
         <td th:text="${price}"></td>
      </tr>
    </table>
</div>
</body>
</html>