<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p th:text = "'Welcome to TWAirline'"/>
<h1>Search Results</h1>
 <table border="1" style="width:300px">
    <tr>
        <th>FlightID</th>
        <th>CarrierType</th>
        <th>Source</th>
        <th>Destination</th>


    </tr>
    <tr th:each="flightInfo:${flights}">
        <td th:text="${flightInfo.getFlightID()}"></td>
        <td th:text="${flightInfo.getTypeOfCarrier().getCarrierTypeName()}"></td>
        <td th:text="${flightInfo.getSource()}"></td>
        <td th:text="${flightInfo.getDestination()}"></td>

    </tr>
</table>

</body>
</html>